.recuadro {
  padding-left: 10vw;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  margin-left: 20vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  width: 45vw;
  height: 110px;
  background-color: var(--color2);
}

.recuadroDentro {
  margin-left: -10vw;
  margin-top: -15px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.recuadroDentro2 {
  width: 15vw;
  margin-left: 0vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.recuadrocabecera {
  display: flex;
  flex-direction: row;
  padding-left: 0vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -8vw;
  margin-right: -4vw;
  width: 500px;
  height: 30px;
}
.recuadrocabecera2 {
  display: flex;
  flex-direction: row;
  padding-left: 0vw;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -8vw;
  min-width: 60px;
  height: 30px;
}

.separador {
  margin-left: 0.1vw;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 3vw;
  height: 7px;
  color: white;
  vertical-align: bottom;
}

.separador2 {
  margin-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 3vw;
  height: 30px;
  color: white;
}


.container {
  padding: 16px;
}
