section {
  padding-top: 15px;
  padding-left: 10vw;
  display: flex;
  margin-left: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: bottom;
}

h1 {
  margin: 0;
  padding-top: 15px;
  width: 30vw;
  text-align: left;
  color: var(--color);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s font-size linear;
  background-color: white;
}

h2 {
  margin: 0;
  padding-top: 15px;
  text-align: center;
  color: var(--color);
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s font-size linear;
  background-color: white;
}

div {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 25%;
  height: 300px;
}

table {
  align-self: center;
  width: auto;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contenedoraGrafica {
  padding-top: 40px;
}
